<div>
  <h2>Register</h2>
  <form action="">
    <label for="">Enter Username</label>
    <input type="text" placeholder="enter username" class="form-control" #username>
    <br>
    <label for="">Enter password</label>
    <input type="password" placeholder="enter password" class="form-control" #password>
    <br>
    <button class="btn btn-primary mr-2" (click)="doRegister(username.value, password.value)">Register</button>
    <button type="reset" class="btn btn-primary mr-2" >Reset</button>
  </form>
</div>